@import 'variables';

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.social-links-warp {
    text-align: center;
    background: salmon;
    padding: 46px 0;
}

*{
    font-family: "Quicksand";
}